/* INDEX - Partie "fontionnement" */
.functioning__card-style {
    background-color: $color-background;
    width: 85%;
    height: 70px;
    margin: 20px auto;
    border-radius: 20px;
    @include shadow;
}

/* INDEX - Carte des restaurants */ 
.restaurant__card {
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 5%;
    @include bordure;
    @include shadow;
    position: relative;
    &-notif {
        @include flexcenter;
        @include typography_roboto ($fontsize-10,$fontweight-400);
        background-color: $color-terciary;
        color: darken($color-terciary, 40%);
        width: 80px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 10px;
    }
    & img {
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    &-text {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        & h2 {
            font-size: $fontsize-12;
        }
        & p {
            margin-top: 5px;
        }
        & i {
            margin-right: 10px;
        }
    }
    & a {
        width: 100%;
        height: 100%;
    }
}

/* MENU - Carte des plats */

.menu__card {
    background-color: $color-white;
    border-radius: 15px;
    @include shadow;
    width: 100%;
    margin: 10px 0;
    display: flex;
    position: relative;
    @include tablette-only{
        width: 30%;
    }
    &--text {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        & span {
            display: flex;
            align-items: flex-end;
            @include tablette-only{
                margin-right: 5%;
            }
            
        }
    }
    &--flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        & h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &--checkbloc {
        width: 10%;
        height: 100%;
        background-color: $color-terciary;
        @include flexcenter;
        border-radius: 0 15px 15px 0;
        position: absolute;
        right: 0;
        visibility: hidden;
        @include tablette-only{
            width: 15%
        }
    }
    & h2 {
        @include typography_roboto ($fontsize-12,$fontweight-400);
        margin-bottom: 5px;
    }
    
}

