/* Index Loader */
// spin
.loader {
    animation: loader-out 0ms 2950ms forwards;
    &__spinner {
        animation: spin 1000ms 150ms linear 2.5 forwards;
        transform-origin: center;
    }
}


@keyframes spin {
   0% {
    transform: rotate(0deg);
   } 
   100% {
    transform: rotate(360deg);
   }
}

@keyframes loader-out {
    0% {
        transform: scale(0);
    }
    100% {
        transform: translate(-99999px);
    }
}




/* Animation icone Heart */
.heart-colored {
    transform: scale(0);
    transition: transform 200ms ease-in;
}

.heart-white {
    &:hover + .heart-colored {
        transform: scale(1);   
    }
}


/* Animation "check" menu */


.menu__card {
    &--text {
        &:hover {
            cursor: pointer;
            animation: text-reduction 200ms linear both;
            transform-origin: left;
            & + .menu__card--checkbloc {
                animation: checkbloc 200ms  linear both;
                transform-origin: right;
                & i {
                    animation: icon-rotate 400ms;
                }
            }
        }
    }
    &--checkbloc {
        transform: scaleX(0);
    }
}

@keyframes text-reduction {
    0% {
        width: 100%;
    }
    100% {
        width: 90%;
        
    }
}

@keyframes checkbloc {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes icon-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    } 
}


/* Menu card loader */

.menu__card {
    animation: menu-loader 1000ms both;
    transform-origin: top;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: 200ms * $i;
        }
    }
}

@keyframes menu-loader {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}