$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-terciary: #99E2D0;
$color-background: #F5F5F7;
$color-grey: grey;
$color-white: white;

/* font-size */
$fontsize-10: 1em;
$fontsize-12: 1.2em;
$fontsize-15: 1.5em;

/* font-weight */
$fontweight-200: 200;
$fontweight-400: 400;
$fontweight-600: 600;

/* display */